<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Audit Service Administration Web Application</display-name>

    <servlet>
        <servlet-name>healthcheck</servlet-name>
        <servlet-class>com.hpe.caf.services.audit.server.admin.HealthCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>healthcheck</servlet-name>
        <url-pattern>/healthcheck</url-pattern>
    </servlet-mapping>
</web-app>
